/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#container{

   
    justify-content: center;
    
    
}
img{
    height: 200px;
}

.index{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.beer-list{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;

}




